<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/head", {title: "Bienvenidos a Mercado Liebre"})
        %>
    </head>
    <body class="bg-muted">
        <header class="bg-warning"><%- include("./partials/header") %></header>
        <section>
            <img
                src="/images/img-home-banner.jpg"
                width="360"
                alt="Banner de ofertas"
                id="banner"
            />
        </section>
        <main>
            <h1>Hola <%= user ? user.name : "amigo" %></h1>
            <section class="display-flex section-md">
                <h3 class="headline">Basado en tu última visita</h3>
                <% productsInSale.forEach((product)=>{%> <%-
                include("products/product-card", {product: product}) %> <%}) %>
            </section>
            <section class="display-flex">
                <h3 class="headline">Ofertas</h3>
                <% productsVisited.forEach((product)=>{%> <%-
                include("products/product-card", {product: product}) %> <%}) %>
            </section>
        </main>
        <footer class="footer-md"><%- include("./partials/footer") %></footer>
    </body>
</html>
