<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head", {title: "Iniciar Sesi칩n"}) %>
    </head>
    <body class="bg-muted">
        <header class="bg-warning"><%- include("./partials/header") %></header>
        <main>
            <h1>Iniciar Sesi칩n</h1>
            <%= message %> <% if (typeof errors != "undefined") { %>
            <p>ERRORES</p>
            <ul>
                <% for (error of errors) {%>
                <li><%= error.msg %></li>
                <% } %>
            </ul>
            <% } %>
            <form action="/auth/login" method="POST" class="login-form">
                <label for="usuario" class="display-none">Usuario</label>
                <input
                    type="text"
                    id="usuario"
                    name="username"
                    placeholder="Usuario"
                    class="display-block"
                />
                <label for="password" class="display-none">Contrase침a</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Contrase침a"
                    class="display-block"
                />
                <label for="">Recordame</label>
                <input type="checkbox" name="recordame" id="" />
                <button type="submit">Enviar</button>
            </form>
        </main>
        <footer class="footer-md"><%- include("./partials/footer") %></footer>
    </body>
</html>
