<div class="article-container">
    <a href="/products/<%= product.id %>" class="anchor">
        <div class="image-container">
            <img
                src="/images/products/<%= product.image %>"
                width="320"
                alt="<%= product.name %>"
                class="image-product"
            />
        </div>
        <div class="article-text-container position-relative">
            <i class="fas fa-truck display-block text-success truck-icon"></i>
            <% if (product.discount > 0) { %>
            <p class="original-price display-inline-block">
                &#36;<%= toThousand(product.price) %>
            </p>
            <p class="price-with-discount display-inline-block">
                &#36;<%= toThousand(product.price - (product.discount *
                product.price /100)) %>
            </p>
            <p class="discount text-success">
                <%= product.discount %>&#37; off
            </p>
            <% } else { %>
            <p class="price">&#36;<%= toThousand(product.price) %></p>
            <% } %>
            <h4 class="description"><%= product.name %></h4>
        </div>
    </a>
</div>
